.about{
	.hero{
		.title{
			text-align:center;
			color:$color-white;
		}
	}
	.about-palette{
		padding:100px 0;
		@include media($tablet){
			text-align:center;
			padding:50px 0;
		}
		.content{
			max-width:60%;
			@include media($tablet){
				max-width:100%;
			}
		}
		h3{
			margin-bottom:25px;
		}
	}
	.additional-content{
		padding:100px 0;
		@include media($tablet){
			padding:50px 0;
		}
		.content-container{
			display: flex;
			@include media($tablet){
				flex-direction: column;
			}
		}
		.content{
			flex:1;
			padding:0 20px;
			@include media($tablet){
				margin:25px 0;
			}
			.content-title{
				margin-bottom:10px;
			}
		}
	}
	.locations-preview{
		position:relative;
		height:500px;
		.bg{
			margin:0;
			z-index:-2;
			@include size(100%);
			@include position(absolute, 50% null null 50%);
			@include transform(translateY(-50%) translateX(-50%));
		}
		.content-container{
			position:relative;
			height:100%;
		}
		.inner{
			width:650px;
			background:$color-white;
			padding:15px;
			@include position(absolute, 50% 0 null null);
			@include transform(translateY(-50%));
			@include media($tablet){
				position:relative;
				width:100%;
			}	
		}
		h2{
			margin-bottom:25px;
		}
		ul{
			display:flex;
			@include striplist;
			@include media($mobile){
				flex-direction:column;
			}	
		}
		li{
			position:relative;
			flex:1;
			height:125px;
			overflow:hidden;
			&:hover{
				figure{
					@include transform(translateY(-50%) translateX(-50%) scale($hover-scale));
				}
			}
			figure{
				transition:$hover-scale-timing;
				background-size:cover;
			}
			a{
				position:relative;
				display:flex;
				justify-content:center;
				align-items:center;
				text-decoration:none;
				color:$color-white;
				text-transform:uppercase;
				letter-spacing:1px;
				font-size:.9em;
				z-index:1;
				@include size(100%);
			}
			&:nth-child(2){
				margin:0 5px;
				@include media($mobile){
					margin:10px 0;
				}
			}
			&:after{
				content:'';
				display:block;
				background:rgba(0,0,0,.5);
				@include size(100%);
				@include position(absolute, 50% null null 50%);
				@include transform(translateY(-50%) translateX(-50%));
			}
		}
	}
}