.bullet-nav{
	display:flex;
	padding:0;
	margin:0 auto;
	list-style:none;
	@include media($desktop){
		width:$desktop-inner;
	}
	@include media($desktop-large){
		width:$desktop-large-inner;
	}
	li{
		position:relative;
		height: 100%;
		transition: .3s;
		@include media($desktop){
			&:hover{
				transform:translateX(-10px) translateY(-10px);
				box-shadow: 8px 8px 0px $color-blue;
				z-index: 2;
			}
		}
		@include media($mobile){
			max-height: 100px;
			overflow: hidden;
		}
	}
	a{
		display:block;
	}
	img{
		display: block;
		@include media($mobile-landscape){
			width: 100%;
		}
	}
	h3{
		letter-spacing:1px;
		color:$color-white;
		width:100%;
		text-align:center;
		text-transform:uppercase;
		@include position(absolute, 50% null null 50%);
		@include transform(translateY(-50%) translateX(-50%));
		@include media($tablet){
			font-size:1.7em;
		}
	}
	&.desktop{
		@media (max-width: 800px){
			display:none;
		}
	}
}

.bullet-images{
	@include media($desktop){
		display:block;
	}
	ul{
		display:flex;
		list-style:none;
		padding:0;
		margin:0;
		flex-wrap:wrap;
		@include media($tablet){
			flex-direction: row;
		}
	}
	li{
		flex:1 0 33.33333%;
		position:relative;
		height:250px;
		@include media($tablet){
			flex-basis:50%
		}	
		@include media($mobile){
			flex-basis:100%;
		}
		.bullet-info{
			opacity:1;
			transform:translateY(-10px);
		}
	}
	.bullet-container{
		position:relative;
		display:flex;
		justify-content:center;
		align-items:center;
		z-index:2;
		padding:25px;
		@include size(100%);
		transition:.5s;
		@include media($desktop){
			&:hover{
				.icon{
					opacity: 0;
				}
				.bullet-info{
					opacity:1;
					@include position(absolute, 50% null null 50%);
					@include transform(translateY(-50%) translateX(-50%));
				}
			}
		}
		@include media($tablet-landscape){
			justify-content: flex-start;
		}
		.icon{
			transition: .5s;
			opacity:1;
			filter:invert(100%);
			margin-right: 25px;
			@include position(absolute, 50% null null 50%);
			@include transform(translateY(-50%) translateX(-50%));
			@include media($tablet-landscape){
				position:relative;
				transform:none;
				top:0;
				left:0;
			}
			@include media($mobile){
				max-width:50px;
			}
		}
		.bullet-info{
			color:$color-white;
			@include media($desktop){
				@include position(absolute, 60% null null 50%);
				@include transform(translateY(-50%) translateX(-50%));
				opacity:0;
				transition: .5s;
				width: 75%;
				text-align: center;
				@include media($tablet-landscape){
					opacity:1;
					text-align: left;
					width: 75%;
					position:relative;
					top: 0;
					left:0;
					transform:none;
				}
			}
			.bullet-title{
				margin:10px 0;
				font-size:2em;
				text-transform:uppercase;
				letter-spacing:2px;
				font-weight: 100;
			}
		}
	}
	figure{
		margin:0;
		@include size(100%);
		@include position(absolute, 50% null null 50%);
		@include transform(translateY(-50%) translateX(-50%));
		background-size:cover;
	}
}