.hero{
	position:relative;
	height:600px;
	color:$color-white;
	text-align:center;
	.credit{
		font-size:.8em;
	}
}

.events-hero{
	position:relative;
	height:600px;
	color:$color-white;
	text-align:center;	
	.credit{
		font-size:.8em;
	}
	.event-button{
		background-color: $color-white;
		color:$color-black;
		margin-top: 25px;
		@include media($desktop){
			display:none;
		}
	}
}

.credit-link{
	color:$color-white;
	text-decoration:none;
	transition:.3s;
	&:hover{
		color:$color-blue;
	}
}

.about-hero{
	position:relative;
	height:600px;
	color:$color-white;
	text-align:center;
	.credit-link{
		width: 100%;
	}	
	.credit{
		font-size:.8em;
	}
	figure{
		@include media($mobile){
			background-position: right;
		}
	}
}	

$hero-min-height:700px;
.home{
	.hero{
		position:relative;
		height:100vh;
		min-height:$hero-min-height;
		.hero-slider{
			overflow:hidden;
			height:100vh;
			width:100%;
			z-index:-1;
			min-height:$hero-min-height;
			@include position(absolute, 50% null null 50%);
			@include transform(translateY(-50%) translateX(-50%));
			.slide{
				height:100vh;
				min-height:$hero-min-height;
				figure{
					margin:0;
					background-size:cover;
					background-position:center;
					@include size(100%);
				}
			}
		}
		.pinned-bottom{
			bottom:50px;
			@include media($tablet){
				width: 100%;
			}
			@include media($mobile){
				bottom:100px;
			}
		}
		.content-container{
			text-align:left;
			@include position(absolute, 45% null null 50%);
			@include transform(translateY(-50%) translateX(-50%));
			@include media($mobile){
				text-align:center;
			}
		}
		.content-inner{
			max-width:450px;
			color:$color-white;
			h1{
				margin-bottom:10px;
				@include media($tablet){
					font-size:3em;
				}
			}
			p{
				margin-bottom:25px;
			}
			.cta-button{
				padding:1em 5em;
			}
		}
		.credit{
			margin-bottom:15px;
			text-transform:uppercase;
			font-size:.9em;
			color:$color-white;
			transition:.3s;
			&:hover{
				color:$color-blue;
			}
		}
	}
}