.marketplace{
	.title{
		@include media($mobile){
			font-size:4em;
		}
	}
	.pinned-bottom{
		bottom:200px;
	}
	.marketplace-container{
		height: 250px;
		@include media($mobile){
			height:325px;
		}
	}
	.marketplace-form-container{
		@include position(absolute, 52% null null 50%);
		@include transform(translateY(-50%) translateX(-50%));
		width: 50vw;
		padding:25px;
		background-color: $color-gray-lite;
		@include media($mobile){
			width:90vw;
		}
		.subtext{
			margin:15px 0;
		}
	}
	.marketplace-section{
		.tagline{
			font-size:3em;
			text-align: center;
			padding:100px 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			@include media($mobile){
				padding:100px 10px;
			}
		}
	}
}