.cta-button{
	position:relative;
	display:inline-block;
	background:$color-black-soft;
	padding:1em 2em;
	color:$color-white;
	text-transform:uppercase;
	text-decoration:none;
	font-size:0.9em;
	line-height:.8em;
	letter-spacing:1px;
	transition:.3s;
	z-index:1;
	vertical-align:center;
	&.white{
		background:$color-white;
		color:$color-black-soft;
		@include media($mobile){
			display:none;
		}
	}
	@include media($desktop){
		&:hover{
			transform:translateX(-5px) translateY(-5px);
			box-shadow: 5px 5px 0px $color-blue;
		}
	}
}

.full-width-cta{
	position:relative;
	display:block;
	background:$color-blue;
	padding:1.2em 2em;
	color:$color-white;
	text-transform:uppercase;
	text-decoration:none;
	font-size:1.1em;
	line-height:.8em;
	letter-spacing:1px;
	transition:.5s;
}

.sticky-button{
	position:fixed;
	background:$color-white;
	padding:1em 0;
	color:$color-black;
	text-transform:uppercase;
	text-decoration:none;
	width:100%;
	bottom:0;
	z-index:10;
	border:1px solid $color-black;
	text-align:center;
	@include media($desktop){
		display:none;
	}
	@include media($tablet){
		display:none;
	}
	@include media($mobile){
		display:block;
	}
}

#tour-sticky-footer{
	display:none;
}
