.cta-button{
	position:relative;
	display:inline-block;
	background:$color-black-soft;
	padding:1em 2em;
	color:$color-white;
	text-transform:uppercase;
	text-decoration:none;
	font-size:0.9em;
	line-height:.8em;
	letter-spacing:1px;
	transition:.5s;
	z-index:1;
	vertical-align:center;
	&.white{
		background:$color-white;
		color:$color-black-soft;
	}
}

.full-width-cta{
	position:relative;
	display:block;
	background:$color-blue;
	padding:1.2em 2em;
	color:$color-white;
	text-transform:uppercase;
	text-decoration:none;
	font-size:1.1em;
	line-height:.8em;
	letter-spacing:1px;
	transition:.5s;
}