form{
	ul{
		margin:0;
		padding:0;
		list-style:none;
	}
	li{
		margin-bottom:20px;
	}
}

#{$all-text-inputs} {
	appearance:none;
	width:100%;
	appearance:none;
	background:$color-gray-med;
	color:$color-white;
	font-size:0.9em;
	padding:1em;
	border:none;
	font-family:$primary;
	@include placeholder{
		color:$color-white;
		letter-spacing:3px;
		text-transform:uppercase;
		font-weight:100;
	}
}


select{
	appearance:none;
	display:block;
	border-radius:0;
	background:$color-gray-med;
	color:$color-white;
	padding:1em;
	width:100%;
	font-size:0.9em;
	border:0;
	font-size:0.95em;
	text-transform:uppercase;
	border:none;
}

textarea{
	margin:25px 0;
}

input[type="submit"]{
	appearance:none;
	font-family:$primary;
	padding:1em 6em;
	border:none;
	border-radius:none;
	background:$color-blue;
	color:$color-white;
	font-size:0.9em;
	text-align:left;
	text-transform:uppercase;
	letter-spacing:3px;
	font-weight:100;
}

.ginput_container_select{
	position:relative;
	&:after{
		content:'';
		display:block;
		border-left:2px solid $color-white;
		border-bottom:2px solid $color-white;
		@include size(15px);
		@include position(absolute, 50% 25px null null);
		@include transform(translateY(-50%) rotate(-45deg));
	}
}

.gfield_required, .charleft{
	display:none;
}