footer{
	.footer-top{
		background:$color-gray-lite;
		padding:25px 0;
		align-items:center;
		font-size:.8em;
		.content-container{
			display:flex;
			@include media($tablet){
				justify-content: center;
			}
			.contact-social{
				@include media($tablet){
					text-align:center;
				}
			}
		}
		a{
			color:$color-black-soft;
			text-decoration:none;
			text-transform:uppercase;
		}
		.tel{
			display:block;
			margin-bottom:15px;
			font-size:1em;
		}
	}
	.footer-bot{
		padding:25px 0;
		background:$color-black;
		color:$color-white;
		text-align:center;
		font-size:.8em;
		@include media($mobile){
			padding-bottom:55px;
		}
	}
}