header{
	width:100%;
	padding:25px;
	z-index:5;
	background: linear-gradient(#111111, rgba(0,0,0,0));
	@include position(absolute, 0 null null 0);
	.container{
		display:flex;
		justify-content:space-between;
	}
	.brand{
		display:block;
		width:225px;
		@include media($mobile){
			width:150px;
		}
	}
	.nav-options{
		display:flex;
		align-items:center;
	}
}

.menu-toggle{
	position:relative;
	cursor:pointer;
	transition:.25s ease-in-out;
	z-index:2;
	margin-right:25px;
	@include size(50px);
	@include media($tablet){
		display:block;
	}
	span{
		display:block;
		background:$color-white;
		transition:.25s ease-in-out;
	}
	.hamburger{
		position:absolute;
		height:100%;
		width:100%;
		span{
			width:40px;
			height:4px;
			position:relative;
			top:12px;
			left:10px;
			margin:4px 0;
			border-radius:6px;
			&:nth-child(1){
				transition-delay:.5s;
			}
			&:nth-child(2){
				transition-delay:.625s;
			}
			&:nth-child(3){
				transition-delay:.75s;
			}
		}
	}
}

.full-width-menu{
	display:none;
	background:$color-white;
	z-index:5;
	@include size(100%);
	@include position(fixed, 50% null null 50%);
	@include transform(translateY(-50%) translateX(-50%));
	@include media($mobile-landscape){
		overflow:scroll;
	}
	.menu-logo{
		margin:25px 0 0 25px;
	}
	nav{
		padding:100px 0 75px 0;
		display: flex;
		justify-content: center;
		width: 90vw;
		margin:0 auto;
		@include media($tablet){
			padding:75px 0 25px 0;
		}
		@include media($mobile-landscape){
			padding:25px 0 25px 0;
		}
		@include media($mobile){
			padding:35px 0 0 0;
			width: 80vw;
		}
		.menu-menu-container{
			width: 100%;
		}
		ul{
			height: 100%;
			padding:0;
			margin:0;
			list-style:none;
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			@include media($tablet){
				display: block;
				align-items:center;
				flex-direction:column;
				flex-wrap:nowrap;
				width: 70vw;
			}
			@include media($mobile-landscape){
				flex-wrap:wrap;
				flex-direction:row;
			}
			@include media($mobile){
				flex-direction:column;
				flex-wrap:nowrap;
			}
			li{
				position:relative;
				margin: 5px 0;
				height: 200px;
				width: 250px;
				background-color:$color-gray;
				display: flex;
				align-items:flex-end;
				flex-basis:33%;
				cursor: pointer;
				transition: .3s;
				@include media($desktop){
					&:hover{
						transform:translateX(-10px) translateY(-10px);
						box-shadow: 8px 8px 0px $color-blue;
						a{
							transform: translateY(-25px);
							span{							
								opacity:1;
							}
						}
					}
				}
				@include media($tablet){
					height: 100px;
					width: 100%;
					text-align: center;
					align-items:center;
				}
				@include media($mobile){
					height: 50px;	
				}			
			}
			a{
    			padding: 0 0 25px 25px;
				text-decoration:none;
				color:$color-black-soft;
				font-size:2.2em;
				text-transform: uppercase;
				width:100%;
				transition: .3s;
				@include media($tablet){
					padding:0 5px;
					align-items:center;
					justify-content: center;
				}
				@include media($mobile){
					font-size:1.7em;
				}
				span{
					@include media($desktop){
						position:absolute;
						opacity:0;
						transition: .8s;
						font-size:1.3rem;
					}
					@include media($tablet){
						display:none;
					}
				}
			}
		}
	}
	.menu-info{
		@include media($mobile){
			padding-bottom:25px;
		}
		.content-container{
			display: flex;
			align-items:center;
			@include media($tablet){
				flex-direction:column;
				align-items:center;
			}
			@include media($mobile-landscape){
				flex-direction:row;
			}
			@include media($mobile){
				flex-direction:column;
			}
			.connect{
				flex:2;
				display: flex;
				align-items:center;
				font-size:1.4em;
				text-transform: uppercase;
				letter-spacing: 1px;
				color:$color-black-soft;
				padding:35px 0;
				@include media($tablet){
					padding:25px 0;
					flex-direction: column;
				}
				@include media($mobile-landscape){
					align-items:flex-start;
				}
				@include media($mobile){
					align-items:center;
				}
				.email{
					@include media($mobile-landscape){
						padding-bottom:5px;
					}
				}
				a{
					color:$color-black-soft;
					cursor: pointer;
					transition: .3s;
					&:hover{
						color:$color-blue;
					}
				}
				.dash{
					padding: 0 10px;
					@include media($mobile-landscape){
						display:none;
					}
				}
				.phone{
					text-decoration: none;
				}
			}
		}
	}
}