.location-feed{
	display:flex;
	height:1000px;
	@include media($tablet){
		flex-direction:column;
		height: 100%;
	}
	.location-list{
		display:flex;
		flex-direction:column;
		flex:1.2;
		padding:25px;
		margin:0;
		list-style:none;
		@include media($desktop){
			overflow-y:scroll;
			&::-webkit-scrollbar
			{
				width: 8px;
				height: 8px;
			}
			&::-webkit-scrollbar-track
			{
				background:$color-black-soft;
			}
			&::-webkit-scrollbar-thumb
			{
				background:$color-yellow;
			}
		}
	}
	.location-item{
		display:block;
		width:100%;
		margin-bottom:25px;
		background:$color-gray-lite;
		.location-image{
			position:relative;
			height:250px;
			overflow:hidden;
			img{
				max-width:initial;
				@include position(absolute, 50% null null 50%);
				@include transform(translateY(-50%) translateX(-50%));
			}
		}
		.location-details{
			padding:25px;
		}
		.info{
			margin-bottom:15px;
		}
		.info-inner{
			padding:10px 0;
			display:inline-block;
			border-bottom:5px solid $color-gray-med;
			text-transform: capitalize;
		}
		p{
			color:$color-gray-dark;
		}
		.cta-button{
			font-size:1em;
			padding:.8em 2em;
		}
	}
	.map{
		flex:1;
		@include media($mobile){
			display:none;
		}
	}
}



.location-content{
	padding-bottom:25px;
	.content-container{
		display:flex;
		@include media($tablet){
			flex-direction:column;
		}
	}
	.single-location-form{
		@include media($desktop){
			display:none;
		}
		@include media($tablet){
			position:relative;
			height: 250px;
			.form{
				@include position(absolute, 10% null null 50%);
				@include transform(translateY(-50%) translateX(-50%));
				background-color: $color-gray-lite;
				padding:25px;
				width: 80vw;
			}
		}
		@include media($mobile){
			display:none;
		}
	}
	.desktop-form{
		@include media($tablet){
			display:none;
		}
	}
	.col{
		flex:1;
		&:last-child{
			padding-top:100px;
			@include media($desktop){
				padding-left:25px;
			}
			@include media($tablet){
				padding-top:25px;
			}
			@include media($mobile){
				padding-top:25px;
			}
			.location-title{
				margin-bottom: 25px; 
				@include media($desktop){
					display:none;
				}
				@include media($tablet){
					display:none;
				}
				@include media($mobile){
					display:block;
				}
			}
		}
		&.form{
			@include media($mobile){
				display:none;
			}
		}
	}
	.sticky-cta{
		background:$color-gray-lite;
		padding:35px;
		@include transform(translateY(-35%));
	}
	.content{
		margin-bottom:50px;
	}
	.info{
		margin-bottom:50px;
	}
	.address{
		color:$color-gray-dark;
	}
	.cta-text{
		text-transform:uppercase;
		font-size:.7em;
	}
	.map-title{
		font-size:.95em;
		padding-left:10px;
		margin-bottom:15px;
	}
	.single-map{
		height:300px;
		width:100%;
	}
	#join-sticky-footer{
		display: none;
	}
	#tour-sticky-footer{
		@include media($desktop){
			display:none;
		}
		@include media($tablet){
			display:none;
		}
		@include media($mobile){
			display: block;
		}
	}
}

.marketplace-tenants{
	.title-section{
		display: flex;
		align-items:center;
		margin: 0 10px;
		.dynamic-title{
			font-size:2.5em;
			margin-bottom:10px;
		}
		.down-arrow{
			height:50px;
		}
	}
	.marketplace-card-section{
		display:flex;
		flex-wrap:wrap;
		@include media($mobile){
			flex-direction:column;
		}
		.marketplace-tenant-card{
			flex-basis:31%;
			position:relative;
			padding:20px;
			background-color: #efefef;
			z-index: 3;
			margin: 0 10px;
			margin-bottom:15px;
			min-height: 200px;
			.tenant-info{
				display:flex;
				flex-direction:column;
				.name{
					font-size:1.4em;
					font-weight:$lite;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
				p, a{
					margin:5px 0;
				}
				a{
					color:$color-black;
					text-decoration: none;
					transition: .5s;
					&:hover{
						color:$color-blue;
					}
				}
				.social{
					display: flex;
					align-items: center;
					margin:5px 0;
					li{
						width:25px;
						list-style:none;
						svg{
							fill:$color-black;
							transition:.5s;
							&:hover{
								fill:$color-blue;
							}
						}
					}
				}
			}
			.suite-num{
				font-family:$suite-num;
				position: absolute;
			    font-size: 13em;
			    right: 2px;
			    bottom: 0;
			    color: white;
			    line-height: 200px;
			    display: flex;
			    align-items: center;
			    letter-spacing: -.1em;
			    z-index: -1;
			    pointer-events: none;
			    @include media($mobile){
			    	font-size:10em;
			    	bottom:-25px;
			    }
			}
		}
	}
}

.location-tenants{
	margin-bottom: 25px;
	.title-section{
		display: flex;
		position:relative;
		margin:10px;
		.dynamic-title{
			font-size:2.5em;
			cursor: pointer;
		}
		.down-arrow{
			height:50px;
			cursor: pointer;
		}
	}
	.tenant-card-section{
		display:flex;
		flex-wrap: wrap;
		@include media($mobile){
			flex-direction:column;
		}
		.location-tenant-card{
			flex-basis:31%;
			position:relative;
			padding:20px;
			background-color: #efefef;
			z-index: 3;
			min-height: 200px;
			margin: 0 10px;
			margin-bottom:15px;
			.tenant-info{
				display:flex;
				flex-direction:column;
				.name{
					font-size:1.4em;
					font-weight:$lite;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
				p, a{
					margin:5px 0;
				}
				a{
					color:$color-black;
					text-decoration: none;
					transition: .5s;
					&:hover{
						color:$color-blue;
					}
				}
				.social{
					display: flex;
					align-items: center;
					margin:5px 0;
					li{
						width:25px;
						list-style:none;
						svg{
							fill:$color-black;
							transition:.5s;
							&:hover{
								fill:$color-blue;
							}
						}
					}
				}
			}
			.suite-num{
				font-family:$suite-num;
				position: absolute;
			    font-size: 13em;
			    right: 2px;
			    bottom: 0;
			    color: $color-white;
			    line-height: 200px;
			    display: flex;
			    align-items: center;
			    letter-spacing: -.1em;
			    z-index: -1;
			    pointer-events: none;
			    @include media($mobile){
			    	font-size:10em;
			    	bottom:-25px;
			    }
			}
		}
	}
}

//Category Select Filtering Menu
.category-select{
	display:none;
	flex-wrap:wrap;
	margin:0;
	padding:0;
	width:31%;
	background-color:$color-gray;
	margin:10px;
	margin-bottom:15px;
	cursor: pointer;
	.category-container{
		padding:10px;
		display: flex;
	}
	li{
		list-style:none;
		font-size:1.3em;
		transition: .5s;
		margin:0 10px;
		&:hover{
			color:$color-blue;
		}
	}
}
